{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" charset="UTF-8"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        Base
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/recipes.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/users.css' %}"/>
</head>
<body>
<header>
    <div class="h-1">
        <div class="h-2">
            <a href="{% url 'recipes:index' %}">Главная</a>
            <a href="{% url 'recipes:recipes_list' %}">Все рецепты</a>
            <a href="{% url 'recipes:category_list' %}">Все категории</a>
            <a href="{% url 'recipes:recipe_create' %}">Создать рецепт</a>
        </div>
        {% if user.is_authenticated %}
        <div class="h-2">
            {% if user %}
            <span class="user_decor">{{ user.username }}</span>
            {% endif %}
            <a href="{% url 'authentication:about_me' %}">Обо мне</a>
            <a href="{% url 'authentication:profile' %}">Редактировать профиль</a>
            <a href="{% url 'authentication:logout' %}">Выйти</a>
        </div>
        {% else %}
        <div class="h-2">
            <a href="{% url 'authentication:login' %}">Войти</a>
            <a href="{% url 'authentication:register' %}">Зарегистрироваться</a>
        </div>
        {% endif %}
    </div>
</header>
{% block body %}

{% endblock %}
</body>
</html>