{% extends "./base.html" %}

{% block title %}

Detailed recipe.

{% endblock %}

{% block body %}
<div class="cat-detail">
    {% if category %}
    <p>{{ category.name }}</p>
    {% if category.image %}
    <img src="{{ category.image.url }}" alt="No image here yet.">
    {% endif %}
    <p>Описание: {{ category.description }}</p>
    {% else %}
    <span>No data here yet.</span>
    {% endif %}
</div>
<section class="h-3">
    {% if recipes %}
    {% for recipe in recipes %}
    <div class="content_inner">
        <p>Категории:
            {% for cat in recipes.categories %}
            |<a href='{% url "recipes:category_detail" cat.pk %}'><span class="cats">{{ cat.name }}</span></a>|
            {% endfor %}
        </p>
        <p><a href="{% url 'recipes:recipe_detail' recipe.pk %}">
            {{ recipe.name }}</a></p>

        {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="No image here yet.">
        {% endif %}
        <p>Описание: {{ recipe.description|truncatewords:70|linebreaks }}</p>
        <p>Автор: {{ recipe.author }}</p>
    </div>
    {% endfor %}
    {% else %}
    <p>No data here yet.</p>
    {% endif %}
</section>
{% endblock %}