{% extends "./base.html" %}

{% block title %}

Detailed recipe.

{% endblock %}

{% block body %}
<div>
    <a href="{% url 'recipes:recipes_list' %}">
        Create new recipe.
    </a>
</div>
<div>
    {% if recipe %}
    <ul>
        <li>
            {% if recipe.categories %}
            <p>
                Категории:
                {% for category in recipe.categories.all %}
                    {{ category.name }}
                {% endfor %}
            </p>
            {% endif %}
            <p>Название: {{ recipe.name }}</p>
            <p>Описание: {{ recipe.description }}</p>
            <p>Автор: {{ recipe.author }}</p>
        </li>
        <br>
    </ul>
    {% else %}
    <span>No data here yet.</span>
    {% endif %}
</div>
{% endblock %}