{% extends "./base.html" %}

{% block title %}

Recipes list

{% endblock %}

{% block body %}
<section class="h-3">
    {% if recipes %}
    {% for recipe in recipes %}
    <div class="content_inner">
        {% if recipe.categories %}
        <p>Категории:
            {% for cat in recipe.categories.all %}
            |<a href='{% url "recipes:category_detail" cat.pk %}'><span class="cats">{{ cat.name }}</span></a>|
            {% endfor %}
        </p>

        {% endif %}
        <p><a href="{% url 'recipes:recipe_detail' recipe.pk %}">
            Название: {{ recipe.name }}</a></p>

        {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="No image here yet.">
        {% endif %}
        <p>Описание: {{ recipe.description|truncatewords:70|linebreaks }}</p>
        <p>Автор: {{ recipe.author }}</p>
    </div>
    {% endfor %}
    {% else %}
    <span>No data here yet.</span>
    {% endif %}
</section>
<footer>
    <span class="h-2">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</footer>
{% endblock %}