{% extends "./base.html" %}

{% block title %}

Recipes list

{% endblock %}

{% block body %}
<div>
</div>
<div>
    {% if recipes %}
    <ul>
        {% for recipe in recipes %}
        <li>
            {% if recipe.categories %}
            <p>
                Категории:
                {% for category in recipe.categories.all %}
                {{ category.name }}
                {% endfor %}
            </p>
            {% endif %}
            <p><a href="{% url 'recipes:recipe_detail' recipe.pk %}">
                Название: {{ recipe.name }}</a></p>
            <p>Id: {{ recipe.pk }}</p>
            <p>Описание: {{ recipe.description }}</p>
            <p>Автор: {{ recipe.author }}</p>
        </li>
        <br>
        {% endfor %}
    </ul>
    {% else %}
    <span>No data here yet.</span>
    {% endif %}
</div>
{% endblock %}